.link{
    position: relative;
}

.icon{
    width: 60px;}

.amount{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
}

.amountElement{
    width: 20px;
    height: 20px;
    font-size: 15px;
    border-radius: 50%;
    background-color: lemonchiffon;
    font-weight: bolder;
    color: maroon;
}
